src/test
src/sync_test
src/ContentCreatorManager.log
src/ContentCreatorManager.log*
src/facebook_client_secret.json
src/minds_client_secret.json
src/reddit_client_secret.json
src/rumble_client_secret.json
src/token_youtube_v3.pickle
src/twitter_client_secret.json
src/youtube_client_secret.json
*.pyc
*.mp4
*.jpg